[2021-03-11 10:10] jnv27 opened #1 "Backend: Discussion"
Hello @Manvityagi ,
I would like to contribute on backend part of this project as part of GSSOC'21 programme. Willing to discuss more about this project. Add me to relevant group or discord channel whenever it will be created.

[2021-03-11 10:18] Manvityagi commented on #1
Hi,
Are you a gssoc participant?

On Thu, 11 Mar, 2021, 3:40 PM jnv27, ***@***.***> wrote:

[2021-03-11 10:28] jnv27 commented on #1
Yes @Manvityagi I'm a Gssoc participant.

[2021-03-11 10:37] Manvityagi commented on #1
In a couple of days or so, you will be able to see all the project channels
on the GirlScript Discord server,
then you can join #opportunity-calendar-backend.

On Thu, Mar 11, 2021 at 3:59 PM jnv27 ***@***.***> wrote:

[2021-03-11 14:03] jnv27 commented on #1
Alright, but till then can I start contributing to this project or it will only start after joining discord channel?

[2021-03-11 15:03] rohithmsr commented on #1
Where is the channel?

[2021-03-11 15:17] Manvityagi commented on #1
Let me discuss with the other mentors,
What can we do.

Cc: @abdus

[2021-03-11 16:12] abdus commented on #1
@jnv27 hey. we have a channel for this project on the GirlScript SoC discord server. Channel's name is `#opportunity-calendar-backend`. However, I think it would be better if you discuss it in this thread (you are free to discuss it on Discord as well)

So, about the backend: We are planning to have an [Express](https://expressjs.com/) server running. For the database, we can use MongoDB. I was th

[2021-03-11 16:31] jnv27 commented on #1
Hi @abdus , I have previously worked with Express and MongoDB both so i would suggest the same, but i don't have much idea about TypeScript, as I have worked previously with JavaScript only. But i would love to know more about TypeScript if it is mandatory for this project.

[2021-03-11 17:00] abdus commented on #1
@jnv27 well ... it's not mandatory, just preferred.

[2021-03-11 18:20] Athira2199 commented on #1
Hi @abdus @Manvityagi would love to contribute in the project.

[2021-03-11 19:01] jnv27 commented on #1
@abdus Alright, but can we initially start with normal javascript and later on we can shift to Typescript if it's possible?

[2021-03-11 19:20] rohithmsr commented on #1
@abdus I am ok with using Typescript. Though I have no experience in Typescript, according to me, contributors can take this opportunity to gain knowledge on Typescript.

[2021-03-12 02:32] abdus commented on #1
We will start with TypeScript. I will create an issue for the initial project set-up.

[2021-03-12 06:46] Rosh9532 opened #2 "Documentation"
@Manvityagi I would like to contribute to the project as a gssoc'21 participant ,but the documentation part is not accessible to me on confluence.

[2021-03-12 08:37] rohithmsr commented on #1
Since the frontend and backend are seperate projects, how will we be able to know what are all the features in the website? This question may be absurd but I really have no clue on working on medium level projects

@abdus

[2021-03-12 14:57] abdus commented on #1
@rohithmsr For now, we need to create endpoints for adding and editing opportunities. Then there is the authentication mechanism.
We will be adding new features as the need arises.

[2021-03-12 15:01] abdus opened #3 "Set-up project codebase"
set-up the initial starter code. requirements:

 - use `express`
 - use `mongodb`
 - use `typescript`

for reference, you can [check this out](https://github.com/microsoft/TypeScript-Node-Starter)

[2021-03-12 17:21] rohithmsr commented on #3
May I take this job?? @abdus
I am a GSSOC'21 participant.

[2021-03-12 17:54] abdus commented on #3
Sure. Feel free to drop me a message if you are stuck.

[2021-03-13 03:56] rohithmsr commented on #3
Do I need to add Azure account and SendGrid account for this project? @abdus

[2021-03-13 04:02] abdus commented on #3
Which Azure service you are planning to use and for what?
We probably don't need SendGrid as emails from the frontend will be handled by Formspree. We will add it if required in the future.

[2021-03-13 04:03] rohithmsr commented on #3
Should I use Azure for deployment? Or shall we take care of that later?
@abdus

[2021-03-13 05:39] abdus commented on #3
Nope. Leave deployment part for now.

[2021-03-13 10:34] udaymittal7 opened #5 "Creating Sign up and login routes and controller"
I would like to work on creating the sign up and login routes and controller for this project as a participant of GSSOC'21.
Please assign this to me and add the relevant tags.

[2021-03-13 10:58] #3 closed

[2021-03-13 13:08] shriya030 opened #6 "Update README.md"
I am a GSSOC'21 participant and would like to add a feature in README.md where the contributors get automatically updated.
Can you please assign this issue to me?

[2021-03-13 15:58] abdus commented on #6
How are you planning to add the contributors' list? Would it be updated automatically whenever a person contributes something to this repository?
You can find a publicly accessible contributors list [here](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/graphs/contributors)

[2021-03-13 16:13] abdus opened #7 "write test-case"
Please add test cases to this project. You are free to use any test suite(Mocha, for example). Make sure the tests are written in TypeScript.

[2021-03-13 16:15] abdus commented on #5
It would be great if we split this issue into two.

1. implement SignUp
2. implement SignIn

[2021-03-13 16:47] rohithmsr commented on #7
May I take this job ??? @abdus .

[2021-03-13 17:07] shriya030 commented on #6
Yes, it will be updated automatically. We can see, but it will enhance the readme. We can put the heading like our proud contributors and then display the pictures like this.
![image](https://user-images.githubusercontent.com/56861600/111037987-90ffdb80-844c-11eb-8ff8-21b3480efacf.png)

[2021-03-13 17:19] abdus commented on #6
Alright. Go ahead and do this.

[2021-03-13 21:03] #6 closed

[2021-03-14 05:48] nandini040 opened #9 "Issue template missing"

[2021-03-14 05:49] nandini040 opened #10 "Pull request template missing"

[2021-03-14 05:49] nandini040 opened #11 "Code of conduct missing"

[2021-03-14 05:51] Subhangini commented on #11
I would like to work on this as a gssoc participant

[2021-03-14 05:51] Subhangini commented on #10
I would like to work on this as gssoc participant

[2021-03-14 05:52] Subhangini commented on #9
I would like to work on this as gssoc participant

[2021-03-14 08:38] nandini040 commented on #10
I would like to work on this

[2021-03-14 08:44] Subhangini commented on #9
I have submitted a PR for the issue assigned to me , now can i also work on this issue?

[2021-03-14 08:52] #11 closed

[2021-03-14 09:02] Subhangini commented on #9
Thank you

[2021-03-14 11:47] #9 closed

[2021-03-14 16:01] #10 closed

[2021-03-14 21:00] Aryaman1706 commented on #5
Hey @abdus ! I would love to work on this!

**Ideas**
- Multiple auth strategies like GitHub, Google, and email/phone number.
- We can use passport but if we want to inculcate more scopes then we can use API offered by respective platforms like google's people API gives a ton of information like phone number, birthday, organizations, etc (complete list [here](https://developers.google.com/people/a

[2021-03-15 17:07] udaymittal7 commented on #5
@abdus Yes, we can split it.
I am up for any of those.
Should I create different issues for them separately?
Someone else can take the other.

[2021-03-16 10:03] Manvityagi commented on #2
Would fix that asap @Rosh9532

[2021-03-16 11:46] abdus commented on #5
@Aryaman1706 thanks for the input. it helps!
@udaymittal7 sure. go ahead and split it into two issues. You can work on one and @Aryaman1706 may take the other.

[2021-03-17 04:41] abdus commented on #7
hey @rohithmsr, if you are stuck, do let us know.

[2021-03-17 05:30] rohithmsr commented on #7
Sure....Will make PR within tonight @abdus

[2021-03-17 05:48] rohithmsr commented on #7
@abdus  Why do we want to write tests before code is developed?? In our case , the code isn't developed, so for what should we write testcases?

[2021-03-19 08:12] Manvityagi commented on #7
@rohithmsr Will reopen it after getting some basic setup and APIs.

[2021-03-19 08:12] #7 closed

[2021-03-19 08:12] Manvityagi commented on #2
@Rosh9532 Fixing this issue rn.

[2021-03-19 08:13] #2 closed

[2021-03-20 08:06] Manvityagi opened #16 "Create the GET Opportunities API"
1. Do the required documentation change [here](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/blob/develop/documentation/APIS.md)
2. The GET API should be divided into the controllers, services, and managers as per the convention (can lookup the POST API for reference), Refer [Project Structure](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend#project-structure) to know t

[2021-03-20 08:11] Manvityagi opened #17 "Change require to import"
Replace `require` with ES6 import at all places.

[2021-03-20 08:12] Manvityagi commented on #5
@udaymittal7 @Aryaman1706
Can you make two separate issues for and take one of them each?

[2021-03-20 08:12] Manvityagi commented on #5
Let's start with Google Oauth for this issue, will extend it further for github etc @Aryaman1706

CC: @abdus

[2021-03-20 08:33] Manvityagi opened #18 "Write Unit-Test For POST Opportunity API using Chai, Mocha and Sinon"
- The POST Opportunity API is divided into controllers, services, and managers,
Tests should be written for each 3 of them.
- Data should be mocked with Sinon.
- This is the first test, so set up for chai, mocha also needs to be done.
- Refer to [this](https://blog.logrocket.com/unit-testing-node-js-applications-using-mocha-chai-and-sinon/) for help

[2021-03-20 08:34] Manvityagi opened #19 "Document POST API on Swagger"
- Find the POST Opportunity API and write YAML documentation for it.
- [Text Documentation](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/blob/develop/documentation/APIS.md) for reference

[2021-03-20 08:40] Manvityagi opened #20 "Find problems/optimizations in existing code."
The current code may have some things which can be improved, check out and raise any concerns you may notice.

[2021-03-20 08:42] Haneesha123 commented on #19
I want to work on this issue as part of GSSOC21

[2021-03-20 08:42] Manvityagi commented on #1
Hi @jnv27 @rohithmsr @Athira2199, The project has been restarted from scratch, we shifted to NodeJS from Django,
You may check the open issues.

[2021-03-20 08:44] Manvityagi commented on #1
You can check the Frontend Repo if you want to, or you can also check the exiting fronted deployed [here](https://happy-shockley-488e36.netlify.app/) @rohithmsr

[2021-03-20 08:45] Manvityagi commented on #19
Assigned to you @Haneesha123

[2021-03-20 08:50] rohithmsr commented on #16
Entire Project has been shifted to Django right?? So what should I do, jus create CRUD for opportunities right?
@Manvityagi

[2021-03-20 08:52] rohithmsr commented on #20
What about the initial project setup?
I have already asked for the issue #16 , so along with that I shall setup the project and work on #16
@Manvityagi @abdus

[2021-03-20 09:18] Manvityagi commented on #20
Check the code, the initial project setup along with an API has been done

[2021-03-20 09:19] Manvityagi commented on #16
The project has been shifted to NodeJS already.
The POST API needs to be made in NODEJS in current code itself

[2021-03-20 09:36] rohithmsr commented on #16
Oh sorry! I took it other way around. I have basic knowledge on Node n Express. So shall I take this issue?
@Manvityagi

[2021-03-20 09:37] Haneesha123 commented on #19
@Manvityagi Can you give me a detailed explanation on this issue? It is not clear.

[2021-03-20 09:41] rohithmsr commented on #16
@Manvityagi ,
when I see your code, already method for creating a new opportunity has been created right? What am I supposed to do for this issue?

[2021-03-20 10:01] Manvityagi commented on #16
I have updated the issue, I forgot that I made the POST API already 😅

[2021-03-20 10:22] abdus commented on #19
hey @Haneesha123, we have some API endpoints ready. We are going to use [Swagger](https://swagger.io/) for API documentation. So, the issue is about writing documentations for those endpoints.
Your task: find out the `POST /opportunity`(`/opportunity` endpoint for adding new opportunities) endpoint and document it in a way that is compatible with Swagger.

PS: I finished setting up Swagger for thi

[2021-03-20 10:25] Haneesha123 commented on #19
Okay. I will wait until you push it @abdus

[2021-03-20 10:48] Athira2199 commented on #17
Would like to take up this issue, I am a GSSOC participant, please assign it to me. @Manvityagi

[2021-03-20 10:50] Athira2199 commented on #18
Hi, I have never done unit-testing in NodeJS but would love to explore the opportunity if given a chance.  Since the issue is opened please allow me to take up the oppurtunity.

[2021-03-20 10:52] Athira2199 commented on #20
I think we can have a more formal documentation with swagger. If you too think it is a valid feature or enhancement, please assign it to me. I will add the initial documentation setup and each person can complete the documentation for their endpoint once they finish coding for that particular end-point. @Manvityagi

[2021-03-20 11:06] abdus commented on #19
Pushed. you can start working. @Haneesha123

[2021-03-20 12:40] Manvityagi commented on #17
Assigned to you @Athira2199

[2021-03-20 12:41] Manvityagi commented on #18
Hi @Athira2199, there is an issue assigned to you already, only 1 issue can be assigned at one time. Please complete that first

[2021-03-21 14:06] Sukriti-sood commented on #18
@Manvityagi I would like to work on this, Please Assign this to me

[2021-03-21 14:54] Manvityagi commented on #18
Assigned @Sukriti-sood, Go ahead.
Feel free to ping on discord channel #opportunity-calendar-backend in case of any doubts.

[2021-03-22 13:55] rohithmsr commented on #16
@Manvityagi @abdus  added PR. Do you have any demo data for opportunities, if you have please add that in the repo

[2021-03-24 08:11] abhay27chauhan opened #22 "No need to use body-parser when using express version 4.16+"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Proposal

body-parser is been deprecated and Express version 4.16+, their own body-parser implementation is now included in the

[2021-03-24 08:24] Haneesha123 commented on #19
@Manvityagi @abdus Can you check if this is ok? If yes, I will proceed to create a pull request.
![Capture](https://user-images.githubusercontent.com/61455329/112278045-69104380-8ca8-11eb-80bb-9c4baa4c3a64.PNG)
![Capture1](https://user-images.githubusercontent.com/61455329/112279304-cb1d7880-8ca9-11eb-93b2-2d3dd3a60d12.PNG)
![Capture2](https://user-images.githubusercontent.com/61455329/112278043-6

[2021-03-24 09:13] abdus commented on #19
@Haneesha123 open a PR. that way, I would be able to pull changes locally and test.

[2021-03-24 09:35] Haneesha123 commented on #19
@abdus  I have opened PR #24. Please check it.

[2021-03-24 10:00] Manvityagi commented on #22
Wanna make a PR for the same? @abhay27chauhan

[2021-03-24 11:16] Haneesha123 opened #25 "Error in installation commands in README.md"
# Expected Behavior

In the install section of README.md, the command for starting the application is supposed to be `npm run start:dev`

# Current Behavior

By using `npm start`, we get the error `npm ERR! missing script: start`

Can I make a PR fixing this issue?

[2021-03-24 13:54] Manvityagi commented on #25
Go ahead @Haneesha123

[2021-03-24 15:29] #16 closed

[2021-03-24 17:51] rohithmsr commented on #22
@abhay27chauhan Check the code, the changes are made already and I have mentioned that in my PR.
@Manvityagi

[2021-03-24 18:27] abhay27chauhan commented on #22
but there was no such issue open about this

[2021-03-24 18:30] rohithmsr commented on #22
For issue #16 , I have also changed that single line of code (express.json())...If I had seen any issue open regarding this, I would have left that out intentionally(lol..I swear). But I guess you opened this issue only by today

[2021-03-24 18:56] abhay27chauhan commented on #22
Ok bro 👍

[2021-03-24 18:58] abhay27chauhan commented on #22
@rohithmsr bhai pls uninstall body parser also. Since we are not using it now

[2021-03-25 03:28] rohithmsr commented on #22
@abhay27chauhan body-parser is still a dependency of express.

You will understand the history of body parser from this thread
https://github.com/expressjs/express/issues/2211

[2021-03-25 04:08] abhay27chauhan commented on #22
read this article -
https://medium.com/@mmajdanski/express-body-parser-and-why-may-not-need-it-335803cd048c
and
https://dev.to/taylorbeeston/you-probably-don-t-need-body-parser-in-your-express-apps-3nio

It says there is no need for you to download another dependency, if you are using Express version 4.16+

@Manvityagi should i go ahead and uninstall the body-parser dependency

[2021-03-25 04:29] #19 closed

[2021-03-25 04:30] Manvityagi commented on #22
Go ahead @abhay27chauhan

[2021-03-25 04:33] rohithmsr commented on #22
@abhay27chauhan Whenever you install express, it also installs body-parser since it is its dependency.
 **The article which you have sent, only says that you need not install body-parser separately. It doesn't mean you need to uninstall.**
Express automatically installs body-parser.

It's good to remember that the body parsing was added, removed and then added again
https://stackoverflow.com/quest

[2021-03-25 04:38] Manvityagi opened #27 "Add guidelines for GSSOC participants in Readme"
Similar to this [section](https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend#guidelines-for-gssoc-participants),
Add the same thing in readme after Technology Stack

Backend Channel on Discord:
 #opportunity-calendar-backtend

[2021-03-25 05:58] AshuKV commented on #27
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-25 06:32] #22 closed

[2021-03-25 07:14] Manvityagi commented on #27
Assigned, Go ahead @AshuKV

[2021-03-25 07:16] Haneesha123 commented on #25
@Manvityagi I have solved this issue. Please check PR #29

[2021-03-25 07:52] #25 closed

[2021-03-26 06:53] Manvityagi opened #30 "Add a Github action that automatically labels 'GSSOC21' to the newly created issue."
### **Feature request**:
Add a Github action that automatically labels 'GSSOC21'  for the newly created issue.

### **Is your feature request related to a problem? Please describe. (optional)**:
Adding labels is extra work for the maintainers, which can be avoided by GitHub action.

[2021-03-26 07:04] Manvityagi commented on #17
Hi @Athira2199 What's the progress on issue?

[2021-03-26 07:09] Manvityagi opened #31 "Update `What we Do?` field in NavBar"
In the Navbar Replace `What we do?` with `Opportunities` and link it to `Know About Section`.

Refer the image for more clarity:
![image](https://user-images.githubusercontent.com/32908093/112595351-5163c700-8e30-11eb-9007-d7ffd84dff71.png)

[2021-03-26 07:15] #31 closed

[2021-03-26 16:20] Athira2199 commented on #17
Hi @Manvityagi I am currently having my college exams. Please provide me a bit of more time. Will complete it soon.

[2021-03-26 18:30] priyanshu20 commented on #30
I'd like to take this up

[2021-03-27 06:34] Sukriti-sood commented on #18
@Manvityagi  I have written tests for manager and services facing problem in controllers like how to compare status code and json data.

[2021-03-27 08:49] ay2306 opened #33 "Google Login/Signup Strategy"
Subtask from issue #5

[2021-03-27 11:15] ay2306 commented on #33
I want to work on the issue, please assign it to me.

[2021-03-27 15:31] #30 closed

[2021-03-27 15:32] Manvityagi commented on #33
Assigned @ay2306

[2021-03-27 15:36] Manvityagi commented on #27
What's the progress @ashuKV?

[2021-03-27 17:11] RituCs commented on #17
Hello , I would like to contribute on this issue.If no one is working on this issue then please assign it to me.Thanks !

[2021-03-27 17:14] Athira2199 commented on #17
Hi @RituCs I won't be able to look into this issue for a week. So maybe you could take it up. @Manvityagi Please do the needful changes.

[2021-03-28 02:45] AshuKV commented on #27
Hey @Manvityagi I am still working on it, will push the code by today.

[2021-03-28 04:38] Manvityagi commented on #17
Assigned to you @RituCs. Go ahead for a PR.

[2021-03-28 12:05] Manvityagi commented on #18
Let's connect after Holi @Sukriti-sood

[2021-03-30 05:01] #27 closed

[2021-03-30 05:03] #1 closed

[2021-03-30 10:10] RituCs commented on #17
Please review the PR when you will get time @Manvityagi . Thanks !

[2021-03-30 15:58] Manvityagi commented on #18
@Sukriti-sood , Can you make a PR for the services and managers test? The PR can be updated later with the controller's tests.

[2021-03-30 16:08] Manvityagi commented on #18
@Sukriti-sood
In this article, Refer to the last part- `UserContoller class`, you will get a fair enough idea of how to write tests for our controllers.
https://blog.logrocket.com/unit-testing-node-js-applications-using-mocha-chai-and-sinon/

If you still face any problems, feel free to ping.

[2021-03-30 16:44] #17 closed

[2021-03-30 18:39] Kashish0423 opened #36 "Oauth"
Hello @admin I want to set up other Oauth routes like linkedin and facebook  and also Google using Passport.js

[2021-03-30 20:03] Kashish0423 opened #37 "User Model"
I think we should create a User Model for different users , so that they can view various opportunities and apply to them as per their need and requirements , along with this a moderator who can  verify if the job posted is genuine or not

[2021-03-31 04:06] Manvityagi commented on #36
This is a duplicate issue.

[2021-03-31 04:06] #36 closed

[2021-03-31 04:11] Manvityagi commented on #37
Yes, We need a user model. There will be two types of users -
- visitors on the website: Can view and post opportunties, The posted opportunities will not be directly posted on the portal
- admins: All the rights (CRUD) along with the ability to verify the opportunities posted by visitors.
     - For this, we need a whole new admin-panel.

These are my suggestions, We can discuss the pros and cons

[2021-03-31 04:32] Kashish0423 commented on #37
Yes , we can go ahead with the plan of having these 2 users as you mentioned ,
 but I feel we can break the Visitor in two categories

 1. The person who is looking for Job Opportunity(Internship, FTE, Freelancing)
 2. The person who is posting a Job(i.e HR, Recruiter, Organisation)

Then it will be more easy to manage the one who is looking for Job and the one who is posting the Job (so the datab

[2021-03-31 07:40] Manvityagi commented on #37
[code]
About these, Opportunity Calendar is not really looking to invite Recruiters (they can come and post jobs, but that's not the basic idea of the project),
The project aims to enable opportunity sharing with easy to browse and share features, as in people like you and me only will share opportunities on the portal, not necessarily for our own company, but for any companies/organizations at al

[2021-03-31 07:42] Manvityagi commented on #37
Let's have `user` and `admin` models in this issue.
Only models, no interactions with the APIs. @Kashish0423

[2021-03-31 07:46] Kashish0423 commented on #37
Okay this works, I get it , so shall I first present the scheme of things that I will be implementing(based on the things I understand ) or else you assign me the issue and see how it works and suggest changes accordingly so that it fits  well with the demand of the project

[2021-03-31 13:22] Manvityagi commented on #37
Assigned to you, second option looks good.

[2021-04-01 08:14] rohithmsr commented on #5
What are all the things I must work on? There are so many issues given in this single issue
@abdus @Manvityagi

[2021-04-01 08:31] Manvityagi commented on #5
Hi @rohithmsr #33 is taking care of this issue, left it opened mistakenly.

[2021-04-01 08:31] #5 closed

[2021-04-02 10:37] #37 closed

[2021-04-03 05:54] Manvityagi commented on #18
@Sukriti-sood Any updates?

[2021-04-03 06:19] Sukriti-sood commented on #18
I have wriitten tests for manager and services and I am getting some errors while running tests related to require

Require  Reference not found ESM modeule,
Trying to resolve them ,

I will try to complete this issue today.

[2021-04-03 08:34] Manvityagi opened #42 "Add Build Status in readme"
Add this on top of the readme.md file.
[![Build Status](https://www.travis-ci.com/Girl-Code-It/Opportunity-Calendar-Backend.svg?branch=develop)](https://www.travis-ci.com/Girl-Code-It/Opportunity-Calendar-Backend)

[2021-04-03 11:07] Sukriti-sood commented on #18
@Manvityagi Please help me I am continuously getting this Error
Earlier I was writing test in develop branch then I realised I haven't created Feature branch from that time I am getting this Error

![Screenshot from 2021-04-03 16-35-54](https://user-images.githubusercontent.com/55010599/113476740-f6b71480-949a-11eb-8f52-3ea754a16806.png)

[2021-04-03 11:54] AshuKV commented on #42
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 12:53] Manvityagi commented on #42
Go ahead @AshuKV. Assigned to you.

[2021-04-03 13:33] #42 closed

[2021-04-03 14:27] Manvityagi commented on #18
Try using `import` in place of `require`
[code]

[2021-04-03 15:04] Manvityagi opened #44 "Implement Pagination in the GET Opportunities API"
1. Use two additional query params - `limit` and `offset`
Instead of returning all the opportunities return something like: limited_query_set = query_set[offset : offset + limit].
An Example: if offset = 7 & limit = 20, The opportunities 7th to 27th should be returned.
PS:
Use
"DEFAULT_PAGE_LIMIT" - 20
"DEFAULT_PAGE_OFFSET", - 0
The changes will be effectively done in `/managers/opportunity/index.

[2021-04-03 16:05] Sukriti-sood commented on #18
I have tried this also for this I am getting module not defined

![Screenshot from 2021-04-03 21-40-52](https://user-images.githubusercontent.com/55010599/113484337-6a6e1700-94c5-11eb-8274-c5383f44eb22.png)

[2021-04-03 17:27] Manvityagi commented on #18
Can you pull the latest changes from repo and make a PR as it is.. So that I can debug on my system? @Sukriti-sood

[2021-04-03 18:41] Kashish0423 commented on #44
Hello @Manvityagi  mam , I would like to take this issue

[2021-04-04 00:47] akshay1027 opened #45 "Github profile Links in the readme to open in a new tab"
# Prerequisites

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 06:24] Manvityagi commented on #44
Hi @Kashish0423, Go ahead. Assigned to you

[2021-04-04 16:09] Shubham-Kumar-2000 opened #46 "Clustering"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

Sever should run in cluster mode to run multiple instances of the server in fork mode to make it faster.

# Current Behavior

Server is currently running in a non cluster mode.

## Context

[Reason

[2021-04-05 06:32] Shubham-Kumar-2000 commented on #46
@Manvityagi  can you assign me this

[2021-04-05 07:16] Manvityagi commented on #46
Assigned @Shubham-Kumar-2000

[2021-04-05 09:38] Manvityagi commented on #18
Will update you soon on it @Sukriti-sood

[2021-04-07 04:52] #46 closed

[2021-04-07 14:05] akshatvirmani opened #51 "Update the marking scheme of GSSOC in README.md"
# Prerequisites

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

The marking scheme of GSSOC has been updated and the changes have not been updated in the README file of this

[2021-04-07 14:06] akshatvirmani commented on #51
Kindly assign me this issue so I can make the required changes.

[2021-04-08 05:46] Manvityagi commented on #51
Go ahead @akshatvirmani

[2021-04-08 05:47] Manvityagi commented on #45
@akshay1027 Are you working on it?

[2021-04-08 06:32] akshay1027 commented on #45
I found out now that we cant do this on Github! I tried but it's not possible @Manvityagi ! here is the link to that: mojombo/github-flavored-markdown#28
so i will close this. Sorry.

[2021-04-08 06:32] #45 closed

[2021-04-08 17:13] abdus opened #54 "Extract Swagger Schema into smaller files"
### Expected Behavior

As of now, the schema in Swagger documentation blocks (written as JSDoc) contains a response schema. This can be extracted into a separate file, and reference whenever needed using `$ref`. There are two benefits of doing it. It will reduce the file size so that the file can be maintained easily. Second, It will allow us to reuse certain schema in more than one places.

### W

[2021-04-10 17:09] #51 closed

[2021-04-12 07:55] Haneesha123 commented on #54
@abdus I would like to work on this issue.

[2021-04-12 11:38] abdus commented on #54
Sure.

[2021-04-13 16:00] #20 closed

[2021-04-14 18:09] Haneesha123 commented on #54
@abdus I need some clarity on this. You want me to replace schemas in GET and POST API documentation with $ref right? But schemas in GET and POST API differ slightly. But the properties are the same. Is it ok if I replace properties with $ref?

[2021-04-15 04:06] abdus commented on #54
you don't have to merge both if they are not the same. just replace them with $ref.

[2021-04-15 04:14] #18 closed

[2021-04-15 05:28] Manvityagi opened #57 "Add the PATCH API for opportunities"
1. Add the PATCH API for opportunities
2. Add corresponding documentation in `routes/opportunity.js`
3. Add corresponding documentation in `documentation/APIS.md`

[2021-04-15 05:32] Manvityagi opened #58 "Add onlyForFemale field in opportunities schema"
Add a boolean field onlyForFemale field in opportunities model, make it required and give default value false

[2021-04-15 09:23] Sukriti-sood commented on #57
@Manvityagi  I wanted to work upon

[2021-04-15 09:23] Sukriti-sood commented on #58
@Manvityagi  I wanted to work upon

[2021-04-15 09:32] Sukriti-sood commented on #58
@Manvityagi Sorry , if I voilate any Rule.

[2021-04-15 09:57] Manvityagi commented on #57
Go ahead,
Assigned to you.

[2021-04-15 10:00] Manvityagi commented on #58
Please take care from next time @Sukriti-sood.
You should not work on an issue and make a PR before getting it assigned to you.

[2021-04-15 10:01] #58 closed

[2021-04-20 16:28] Manvityagi opened #61 "Add 'onlyForFemale' field in createOpportunity API"
In `controllers/opportunity/index.js` , `managers/opportunity/index.js` , `services/opportunity/index.js` , update the `createOpportunity` method to create the Opportunity with one more field `onlyForFemale`.

[2021-04-20 17:48] Manvityagi opened #62 "Add precommit Hook for code formatting"
The code should be automatically formatted while a commit is made.

You may use this [resource](https://www.freecodecamp.org/news/how-to-add-commit-hooks-to-git-with-husky-to-automate-code-tasks/) for reference.

There's a prettier config file in this repository. Use it to format code before commit. You can use [Husky and/or pretty-quick](https://prettier.io/docs/en/precommit.html#option-2-pretty-

[2021-04-21 14:22] ritik307 commented on #61
@Manvityagi I would like to work on this issue .Plz assign it to me.

[2021-04-23 08:34] Samridhi-98 commented on #62
@Manvityagi  I would like to work on it will you please assign it to me.

[2021-04-24 11:36] Manvityagi opened #64 "Remove 'opportunity_id' field from models, APIs, Tests, Documentations"
The `opportunity_id` field is not needed, as we will be using the unique id generated by mongoose for tasks needing id.
It has to be removed from all the places in the project.

[2021-04-24 11:38] Manvityagi commented on #54
Any updates on this PR @Haneesha123.
It has been quite a time as per the timelines.

CC: @abdus

[2021-04-24 11:50] Manvityagi opened #65 "Add `organisationLogoURL` field in schema"
- `organisationLogoURL` field is to be added in the schema,
- Don't keep it required,
- Give default as - https://picsum.photos/200
- Corresponding additions should be done in opportunity schema, APIS wherever required, swagger documentation, tests

[2021-04-24 12:01] Haneesha123 commented on #54
Sorry, I have been busy with exams. I will make the PR in a day.

[2021-04-24 12:59] jnv27 commented on #64
Hey @Manvityagi ,I would like to work on this issue please assign it to me under Gssoc, 21

[2021-04-24 13:31] Manvityagi opened #66 "To Add No of issues/pull requests/forks/watchers/stars in Readme file"
It should be added at the top, just after the first title
Reference: https://shields.io/category/issue-tracking

[2021-04-24 13:31] Manvityagi commented on #64
Great, Assigned @jnv27

[2021-04-24 13:49] ritik307 commented on #65
@Manvityagi I would like to work on this issue

[2021-04-24 13:50] Samridhi-98 commented on #66
@Manvityagi  I would like to work on it please assign it to me.

[2021-04-24 14:23] Manvityagi commented on #65
I will assign you once your previous PR is merged

[2021-04-24 14:51] AshuKV commented on #65
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-24 14:52] Manvityagi commented on #66
Can be assigned once your previous PR is merged

[2021-04-25 07:38] #61 closed

[2021-04-25 07:58] Manvityagi commented on #65
Hi @AshuKV, I have assigned to you, The frontend people are dependent on this issue for one of their PRs, Please keep this on priority and make a PR soon.

[2021-04-25 10:25] Manvityagi opened #69 "Update getAPI queryObject"
1. The GET API currently can filter only on the basis of `opportunityType`, modify it to filter on the basis of `onlyForFemale` field also, which is a boolean field in `opportunity schema
2. Tests should be updated
3. Swagger Documentation should be updated

[2021-04-25 10:39] ritik307 commented on #69
@Manvityagi i would like to work on this issue

[2021-04-25 11:04] #62 closed

[2021-04-25 11:10] Manvityagi commented on #66
Your other PR is merged @Samridhi-98, Wanna still take this one?

[2021-04-25 11:12] Samridhi-98 commented on #66
Yes

[2021-04-25 14:15] jnv27 commented on #64
![image](https://user-images.githubusercontent.com/44162351/115996822-81a0b000-a5fe-11eb-8328-bd28712b9b21.png)
I'm getting this message while merging, @Manvityagi is it fine? if not then what should i do to resolve it?

[2021-04-25 14:49] jnv27 commented on #64
I'm getting this error while merging,
Error: your local changes to following files would be overwritten by merge.
Please commit your changes or stash them before you merge
Can you tell me how to resolve this? @Manvityagi

[2021-04-25 17:04] Manvityagi commented on #64
Use `git stash` before merge and `git stash apply` after merge

[2021-04-25 17:21] jnv27 commented on #64
@Manvityagi I have sent the PR after doing so, please merge it after checking.

[2021-04-25 20:05] Vishal1003 opened #72 "User authentication and routes protection using JSON Web Tokens (JWT)"
- [x] I am running the latest version
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

@Manvityagi  I guess the User api needs to be integrated. There is no user authentication as of now (while the UI is already ready for this). Since there's no user api hence we are

[2021-04-26 08:46] Manvityagi opened #73 "Update .travis.yml"
- Add mongdb in services
- Add script for running tests
- Replace `npm install` by `npm ci`

[2021-04-26 08:49] #66 closed

[2021-04-26 10:36] jnv27 commented on #64
@Manvityagi  is there any problem with my PR because it has not been merged yet?

[2021-04-26 10:42] jnv27 commented on #73
@Manvityagi , I would like to work on this issue, and please check and merge my previous PR too on issue #64 .

[2021-04-26 14:55] Vishal1003 opened #74 "Create DELETE endpoint for opportunities"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Feature Request

I can see that there are apis for creating and fetching the opportunities but no api exists for updating and deleting.  @Manvity

[2021-04-26 17:12] abdus commented on #74
upon merging PR #60, the 'Update' method will be available for use.

[2021-04-26 17:14] abdus commented on #74
- Add the DELETE method for opportunities
- Add corresponding documentation in routes/opportunity.js
- Add corresponding documentation in documentation/APIS.md

[2021-04-26 17:21] #64 closed

[2021-04-26 17:25] Vishal1003 commented on #74
@abdus I would like to work on this issue. Kindly assign this to me?

[2021-04-27 05:10] ritik307 commented on #69
@Manvityagi I tried solving the issue but I am not able to clearly understand the issue. Can you plz elaborate?
What are you providing inside the opportunity type `queryObject['opportunityType'] = queryObject.type;`

[2021-04-27 07:07] Manvityagi commented on #69
See the GET API existing currently `https://opportunity-calendar.herokuapp.com/playground/#/default/get_opportunity`,
You just have to add one more query param `female` mapping to `onlyForFemale` in the schema, in addition to `type` which is already one of the query params as of now.

[2021-04-27 07:11] Manvityagi opened #77 "Small Update in readme"
Inside this section `https://github.com/Girl-Code-It/Opportunity-Calendar-Backend#documentation-`,
update Swagger Docs link with `https://opportunity-calendar.herokuapp.com/playground/`
and put this link as the first value in the documentation list

[2021-04-27 07:13] Manvityagi opened #78 "Documentation Update"
This [file](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/blob/develop/documentation/models.md) is not properly formatted.
1. Format it properly
2. Refer [this](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/tree/develop/models) and update the models.md file

[2021-04-27 08:51] Samridhi-98 commented on #78
@Manvityagi  I would like to work on it, please assign it to me.
Also, I have a doubt, Do I need to update the fields as mentioned in the `models folder` or redesign the `models.md` using html table?

[2021-04-27 09:37] jnv27 commented on #73
@Manvityagi I have a doubt, do I have to add only single script for running test like this "mocha ./tests/*/*" or I have to add scripts for each file in tests separately?

[2021-04-27 11:55] GuptaTanisha commented on #77
Please assign this to me.

[2021-04-27 11:56] GuptaTanisha commented on #77
/assign

[2021-04-28 14:10] #77 closed

[2021-04-28 14:11] Manvityagi commented on #78
You have to redesign the models.md file

[2021-04-28 14:13] Manvityagi commented on #73
All test-files need not to be added separately @jnv27

[2021-04-28 14:22] #44 closed

[2021-04-28 14:23] Manvityagi commented on #65
It has been 3 days of inactivity on this PR, so I am unassigning you @AshuKV.
Refer the [rules](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend#rules) for clarifcation.

[2021-04-28 14:25] Manvityagi opened #81 "Add ISSUE_TEMPLATE"
You may refer [this](https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/tree/develop/.github/ISSUE_TEMPLATE)

[2021-04-28 14:27] Manvityagi opened #82 "Update Tests of GET API"
GET API Tests are not updated for the pagination feature,
All the tests in controllers, managers, services shall be updated as per the latest version of GET API.

[2021-04-28 15:21] GuptaTanisha commented on #81
Please assign this to me.

[2021-04-28 19:25] AshuKV commented on #65
Can you pls tell how to resolve this error when I commit my code :
![1](https://user-images.githubusercontent.com/48694961/116461084-73b09080-a885-11eb-8a48-2fc032f66124.png)

[2021-04-29 08:14] Sukriti-sood commented on #82
I wan to work on this

[2021-04-29 09:05] jnv27 commented on #82
Hey @Manvityagi I would like to work on this issue and I've sent PR for my previous issue as well you can check and merge it.

[2021-04-29 09:08] jnv27 commented on #73
Hey @Manvityagi @abdus , I have sent the PR for this issue you can check and merge it.

[2021-04-29 10:35] Kashish0423 commented on #82
Hello @Manvityagi mam , i just got my previous issue merged , can I take this issue ?

[2021-04-29 10:35] Kashish0423 commented on #65
hello @Manvityagi mam , I would like to take this issue

[2021-04-29 11:10] Kashish0423 commented on #33
Hello @abdus  Sir @Manvityagi  mam, is there any work going on in this issue or can someone take it and get it done?

[2021-04-30 04:56] #78 closed

[2021-04-30 07:27] ritik307 commented on #65
@Manvityagi I have already made a PR to a previous issue so kindly assign me this issue.

[2021-04-30 08:55] Manvityagi commented on #65
I guess you haven't updated the tests properly @AshuKV

[2021-04-30 09:47] abdus commented on #65
hey @AshuKV, you have to make PR for a `level-1` issue within two days. You have taken more than three days, and for the same reason, you were unassigned. So, I am going to assign it to the first person in the queue, i.e. @Kashish0423.
@ritik307, I cannot assign this to you at the moment, as your previous PR has not been merged yet (which means you might have to make further changes).

[2021-04-30 10:33] jnv27 commented on #73
@Manvityagi @abdus , I sent my PR twice by making accurate changes but i don't know why it is showing conflicts in my PR, I'm new to open source can you help me resolve this problem?

[2021-04-30 16:38] abdus commented on #73
you have to keep your fork updated with the main repository. I hope this helps: https://opensource.com/article/20/4/git-merge-conflict
Let me know if you face any difficulties.

[2021-05-01 06:31] #57 closed

[2021-05-01 06:52] Manvityagi commented on #82
Sorry for the delay guys,
As per FCFS, @Sukriti-sood assigned to you

[2021-05-01 07:05] #54 closed

[2021-05-01 07:06] Manvityagi commented on #81
The deadline for Level-1 PR is 2 days @GuptaTanisha and it has been 3 days since it was assigned to you. Please provide an update.

[2021-05-01 07:07] #73 closed

[2021-05-01 07:47] Manvityagi commented on #65
@Kashish0423 Please try to make the PR for the same asap, it is a priority issue.

[2021-05-01 07:48] Manvityagi commented on #82
@Sukriti-sood Please update the tests asap, as the build is currently failing and that is probably because of the same issue.

[2021-05-01 07:53] Sukriti-sood commented on #82
Ook

[2021-05-01 07:56] Kashish0423 commented on #65
Okay mam , making a PR soon

[2021-05-01 08:28] Sukriti-sood commented on #82
@Manvityagi  Is there any limit to page query value........?

[2021-05-01 08:52] Kashish0423 commented on #65
Hello @Manvityagi  mam, there is an issue with the test case as even npm test is giving compilation error ,so shall I make my PR without checking the tests or wait ? Also there is one more issue that , the onlyforFemale field is not added everywhere in the tests , I don't if it's left on purpose or shall be added ,

[2021-05-01 08:59] jnv27 commented on #33
@Kashish0423 I guess this issue is already assigned to someone and he is working on it

[2021-05-01 11:09] GuptaTanisha commented on #81
Please review the pull request.

[2021-05-01 11:12] #81 closed

[2021-05-02 07:32] #74 closed

[2021-05-02 07:36] #33 closed

[2021-05-02 07:44] Manvityagi opened #89 "Separate the logic of Pagination in Managers"
- Make a folder `helpers` in root dir, and move all the pagination logic in `managers/opportunity/index.js`  to a function in `helpers/pagination.js`, and use the function after importing in `managers/opportunity/index.js`.
- The functionality of pagination should not be affected
- This is being done to keep the code clean, modular, and maintainable

[2021-05-02 07:51] Manvityagi opened #90 "Add Swagger Documentation for User APIs"
There are new endpoints added in `routes/index.js` and `routes/opportunity.js`, write swagger documentation for them.

[2021-05-02 07:53] Manvityagi opened #91 "Add Tests for Authentication APIs"
There are new API endpoints added for user authentication with Google Oauth, write tests for them.

[2021-05-02 07:56] Manvityagi opened #92 "Update Readme with instructions to get Google Oauth clientID and Secret"
Inside [install instructions](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend#install), add this [link](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend#install-) mentioning that You should `google_client_id` and `google_secret` by yourself to put in `.env`

[2021-05-02 08:06] Manvityagi opened #93 "Add more test cases to Tests of PATCH API"
Inside `tests/managers/opportunity-test.js` - > ` describe('updateOpportunity')`
- "Test to check exception when the opportunity with given _id does not exist."
- Check [this](https://mochajs.org/#:~:text=Mocha%20is%20a%20feature%2Drich,to%20the%20correct%20test%20cases.) to add multiple `it` inside `describe`
 - You may think of other test cases

[2021-05-02 08:07] Manvityagi opened #94 "Add more tests cases to DELETE API"
Inside `tests/managers/opportunity-test.js` - > ` describe('deleteOpportunity')`
- "Test to check exception when the opportunity with given _id does not exist."
- Check [this](https://mochajs.org/#:~:text=Mocha%20is%20a%20feature%2Drich,to%20the%20correct%20test%20cases.) to add multiple `it` inside `describe`
 - You may think of other test cases and them too

[2021-05-02 08:08] #65 closed

[2021-05-02 08:15] Samridhi-98 commented on #90
@Manvityagi  I would like to work on it.

[2021-05-02 09:29] #92 closed

[2021-05-02 10:45] Kashish0423 commented on #93
Hello @Manvityagi mam , I would like to take this issue

[2021-05-02 10:49] jnv27 commented on #94
Hey @Manvityagi ,I would like to work on this issue.

[2021-05-02 10:56] Vishal1003 commented on #89
@Manvityagi I would like to work on this!

[2021-05-02 11:50] Manvityagi commented on #89
Assigned @Vishal1003 :)

[2021-05-02 11:50] Manvityagi commented on #93
Assigned @Kashish0423 :)

[2021-05-02 11:51] Manvityagi commented on #94
Assigned @jnv27 :)

[2021-05-02 12:10] Manvityagi opened #96 "Add General Issue template in Issue Templates"
Like [this](https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/blob/develop/.github/ISSUE_TEMPLATE/general_issue.md)

[2021-05-02 12:26] Sukriti-sood commented on #82
@Manvityagi  I am unable to resolve following error:-
![Screenshot from 2021-05-02 17-54-23](https://user-images.githubusercontent.com/55010599/116813086-b61cea80-ab6f-11eb-93a8-d6675618d4bb.png)

If image not uploaded due to any issue:-
` OpportunityManager
       getOpportunities
         should retrieve Opportunities with specific opportunityType:
     Error: Timeout of 2000ms exceeded. For asy

[2021-05-02 12:44] Manvityagi commented on #90
Assigned @Samridhi-98 :)

[2021-05-02 13:13] Manvityagi commented on #82
Take the latest pull, this error is resolved now.

[2021-05-02 14:57] AshuKV commented on #96
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-02 15:02] Manvityagi commented on #96
Assigned @AshuKV

[2021-05-02 19:29] Kashish0423 commented on #93
![oauth_error](https://user-images.githubusercontent.com/69701380/116824972-8808cc00-abaa-11eb-9e66-63f595d33f68.png)
Hello @Manvityagi mam, there is a problem with the code and it's breaking so we can't check or verify our changes by running the server

1. Passport is not installed
2. I installed it locally on my system , but still there are some errors with it

Kindly check

[2021-05-02 20:38] Manvityagi commented on #93
@Kashish0423 copy the new env file from
`.env.example`, some new environment variables need to be added in your env, without which the code won't work.

[2021-05-03 06:01] theBeginner86 commented on #91
I want to work on this issue as a GSSOC'21 participant.

[2021-05-03 08:07] ay2306 opened #98 "Github Login Authentication"
### **Feature request**:

Login/Registeration using Github

### **Is your feature request related to a problem? Please describe. (optional)**:

No

### **Describe how this feature will be useful to our readers**:

Readers will be able to Login/Register Using Github

### **Additional context:**

Future Context: User can merge multiple accounts and then signing in via any account will sign in to sin

[2021-05-03 10:23] Kashish0423 commented on #93
okay mam got it , thank you :)

[2021-05-04 04:05] Samridhi-98 commented on #90
@Manvityagi Did you mean `routes/authenticate.js` because `routes/opportunity.js`  has been already updated with swagger?

[2021-05-04 04:25] Manvityagi commented on #90
Oh yes exactly, my bad

[2021-05-08 07:29] #89 closed

[2021-05-08 07:30] Manvityagi commented on #91
Sorry for the delay in assigning, I have assigned it to you, Please proceed with the work

[2021-05-08 12:53] #72 closed

[2021-05-08 17:02] #96 closed

[2021-05-08 17:43] theBeginner86 commented on #91
@Manvityagi
No worries. I will start working on it. if I get stuck then I will get back to you.

[2021-05-14 19:05] theBeginner86 commented on #91
@Manvityagi
Could you please explain me a little more about the APIs tests, I have to write?
I did looked into the code of google oauth for which I have to write tests, but I did not quite understand about what I have to write. Actually, I haven't written APIs tests before, so I am little unclear about what I have to do.

[2021-05-16 15:48] Jassi10000-zz commented on #98
I want to try my hands on this
Assign me

and kindly add the Label of level the issue is of

[2021-05-17 13:14] bhardwajdisha commented on #69
@Manvityagi I would like to work on this issue, can you please assign it to me?

[2021-05-18 18:43] theBeginner86 commented on #91
Sorry, I am not able to work on this issue. You may please assign it to someone else.

[2021-05-20 03:26] Sukriti-sood commented on #91
@Manvityagi  I want to work on  this.

[2021-05-24 06:11] akshitakanojia opened #106 "Total number of pages field in pagination api"
### **Feature request**:

In the pagination api  right now we are getting next page number, previous page number and present page's content. It would be great if we could also get the total number of pages possible with the given combination of  `page` and `limit`.

### **Is your feature request related to a problem? Please describe. (optional)**:

A clear and concise description of what the probl

[2021-05-24 07:49] Sukriti-sood opened #107 "Bug in pagination helper code"
In PAgination Helper Code :-

- There are some unnecessary variable used
- Logic for total pages is also wrong
`if (numDocs &gt;= limit) { totalPages = Math.floor(numDocs / limit) + (numDocs % limit); }`

This issue has been resolve in PR of GET API TEST [#97](https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/pull/97/files)

[2021-05-24 12:26] subhangi2731 commented on #94
@Manvityagi please assign this issue to me I want to work on this

[2021-05-24 12:27] subhangi2731 commented on #93
@Manvityagi I will send the pr by tomorrow please assign me

[2021-05-24 12:28] subhangi2731 commented on #69
@Manvityagi I want to work on this please assign me

[2021-05-24 12:28] subhangi2731 commented on #91
@Manvityagi I want to work on this please assign me

[2021-05-24 12:32] jnv27 commented on #94
@subhangi2731 this issue is already assigned to me and I have already sent the PR for it.

[2021-08-05 14:33] ria-19 commented on #82
Is this still open? I would like to contribute to this project.

[2021-09-23 04:53] tejaswinni51 commented on #69
hey @Manvityagi  can I work on this issue?

[2022-06-19 11:01] pavan2108 opened #108 "Moving nodemon to dev dependecies and remove body-parser for package modules"
### **Feature request**:

To avoid problems in future body-parser was deprecated in year 2021 and it's base features are moved to express.

### **Describe the solution you'd like**:

1. Moving https://github.com/Girl-Code-It/Opportunity-Calendar-Backend/blob/4428ec0247c22d0609d7f725f7671a62f43915d8/package.json#L35
to dev-dependencies
2. Removing body-parser https://github.com/Girl-Code-It/Opportu